@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
  font-family: 'Raleway', Arial, sans-serif;
}

body {
  margin-top: 50px;
  align-items: center;  
  background-color: #F0EFEB;
  color: #69381E;
}

main {
  margin: 5%;
}

/* home */

.home {
  width: 80%;
  margin: 5% 10%;
  align-items: center;  
  text-align: center; 
}
#login {
  width: 80%;
  margin: 5% 10%;
  align-items: center;  
  text-align: center; 
}
.LoginSignupForms{
  background-color: #EDDCD2;
  padding: 5px;
}

.buttons {
  background-color: #CB997E; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline block display */
  font-size: 16px; /* Text size */
  margin: 4px 2px; /* Margins */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}
    
.buttons:hover {
  background-color: #985D3D;
}

.buttons:disabled {
  background-color: #A6A6A6;
  color: #EDDCD2; 
}


/* destinationList */

div.destinationList {
  background-color: #EDDCD2;
  align-items: center;
  margin:4px;
  text-align: center;
  display: block;
  float: left;
  padding: 15px 0.5% 5px 0.5%;
  width: 45%;
  min-width: 110px;
  height:450px;
  overflow: auto;
}
  
img.destinationListImage {
  max-width: 90%;
  max-height: 75%;    
  align-items: center;
  margin-top: 2px;
}

/* destinationDetail */
#destinationDetail {
  width: 90%;
  margin: 5% 5%;
  align-items: center;  
  text-align: center; 
}

img#destinationDetailImage {
  max-width: 70%;
  max-height: 75%; 
  align-items: center;  
}

/* popularSpotsList under DestinationDetails */
div.allPopularSpot {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden; /* Clear floats within this container */
}

div.popularSpotsList {
  background-color: #EDDCD2;
  align-items: center;
  margin:4px;
  text-align: center;
  display: block;
  padding: 15px 0.5% 5px 0.5%;
  width: 45%;
  min-width: 110px;
  height:350px;
  overflow: auto;
  float: left;
}
img.popularSpotsListImage {
  max-width: 90%;
  max-height: 75%;    
  align-items: center;
  margin-top: 2px;
}

.allItineraries {
  display: block;
  width: 100%;
  margin-bottom: 20px; 
}

div.itinerariesList {
  background-color: #EDDCD2;
  align-items: center;
  margin:4px;
  text-align: left;
  display: block;
  padding: 15px 5%;
  width: 80%;
  min-width: 110px;
  overflow: auto;
  clear: both; 
}

.activity {
  background-color: #EDDCD2;
  align-items: center;
  margin:5px;
  text-align: left;
  display: block;
  padding: 5px 5%;
  width: 80%;
  min-width: 110px;
  overflow: auto;
  clear: both; 
}

.addItem{
  margin: 20px 10px 50px 10px;
  padding: 5px;
  position: float;
  background-color: #FFF1E6;
}